cpp/build
cpp/examples/basic/build/
python/cudf/_skbuild/
python/cudf/cudf/__pycache__
python/cudf/cudf/_lib
python/cudf/cudf/api
python/cudf/cudf/core
python/cudf/cudf/tests/__pycache__
python/cudf/cudf/utils/__pycache__/
python/cudf/dist/cudf-23.10.0.0-cp310-cp310-linux_x86_64.whl
python/dask_cudf/build/
python/dask_cudf/dask_cudf.egg-info/
python/cudf/cudf/utils/metadata/orc_column_statistics_pb2.py
python/cudf/cudf/tests/__pycache__
python/cudf/cudf/tests/dataframe/__pycache__/
python/cudf/cudf/tests/general_functions/__pycache__/
python/cudf/cudf/tests/general_utilities/__pycache__/
python/cudf/cudf/tests/groupby/__pycache__/
python/cudf/cudf/tests/indexes/__pycache__/
python/cudf/cudf/tests/indexes/datetime/__pycache__/
python/cudf/cudf/tests/indexes/multiindex/__pycache__/
python/cudf/cudf/tests/indexes/timedelta/__pycache__/
python/cudf/cudf/tests/input_output/__pycache__/
python/cudf/cudf/tests/lists/__pycache__/
python/cudf/cudf/tests/options/__pycache__/
python/cudf/cudf/tests/series/__pycache__/
python/cudf/cudf/tests/strings/__pycache__/
python/cudf/cudf/tests/structs/__pycache__/
python/cudf/cudf/tests/text/__pycache__/
python/cudf/cudf/tests/window/__pycache__/
python/cudf/cudf.egg-info/
python/cudf/cudf_pandas_tests/__pycache__/
java/target/